.color {
    &-picker {
        display: flex;
        max-width: 300px;
        width: 100%;
        border: 1px solid #c7c7c7;
        position: relative;
        background-color: #fff;
    }

    &-showcase {
        padding: 15px;
        width: 70%;
        text-transform: uppercase;
    }

    &-block {
        width: 15%;
        border-left: 1px solid #e4e4e4;
    }
}

$size-of-bg-block: 15px;
.hex-bg {
    width: $size-of-bg-block;
    height: $size-of-bg-block;
    display: block;
}

$size-of-arrow: 10px;
.arrow-down {
    border-left: $size-of-arrow solid transparent;
    border-right: $size-of-arrow solid transparent;
    border-top: $size-of-arrow solid #b3afaf;
}

$dropdown-margin-top: 20px;
$size-of-triangle: 8px;
.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: $dropdown-margin-top;
    padding: 10px;
    box-shadow: 0 9px 20px -2px rgba(0, 0, 0, 0.2);
    background-color: #fff;

    &:after {
        content: '';
        position: absolute;
        bottom: 100%;
        margin-top: $dropdown-margin-top - $size-of-triangle;
        border-left: $size-of-triangle solid transparent;
        border-right: $size-of-triangle solid transparent;
        border-bottom: $size-of-triangle solid #fff;
    }

    &-large {
        width: 80%;
    }

    &-buttons {
        text-align: right;
        margin-top: 13px;

        &-first {
            margin-right: 10px;
        }
    }

    &-list {
        padding: 0;
        width: 100%;
        max-width: 170px;

        &:after {
            right: 14px;
        }
    }

    &-rgb {
        &:after {
            right: 59px;
        }
    }
}

.button {
    text-transform: uppercase;
    padding: 5px 15px;
    font-size: 1.4rem;
    background-color: #e6e6e6;
    border: 1px solid #c3c3c3;

    &:hover {
        transition: 0.2s background-color ease-in;
        background-color: #aeff00;
    }

    &-primary {
        background-color: #a4e852;
    }
}

.list {
    &-item {
        border-bottom: 1px solid #ebebeb;

        &:last-child {
            border-bottom: 0;
        }
    }
}

.color {
    &-button {
        padding: 10px 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &-bg {
        width: 15px;
        height: 15px;
        display: block;
    }

    &-text {
        text-transform: uppercase;
    }
}

